<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="faq-text">
    <h1 >Frequently Asked Questions</h1>

    <span>1.What type of products and services do you offer ?</span>
    <ul>
        <li>Wall Laminations</li>
        <li>Floor Laminations</li>
        <li>Pallet Solutions</li>
        <li>Wall Units</li>
        <li>Office Furniture</li>
        <li>Epoxy Resin Furniture Products</li>
        
    </ul>

    <span>2. Can online purchases be made on the website ?</span>
    <li>No , however the functionality is in the pipeline, You can currently reach use here   
        <a href="https://wa.me/message/JVFYMMA5MAENK1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
<br>
    <span>3. How long does the purchase order take ?</span>
    <li>
        It depends on the product/item purchased , but normally the average waiting time is 5 days.
    </li>
<br>
    <span>4. Do you offer delivery as well ? </span>
    <li>
        Yes ,we do but standard charges apply.
    </li>

    
<br>
<br>
<br>
<br>
</div>
</body>
</html>