*{
    font-weight: 300;
}





.GeneratedMarquee {
margin-top: 1rem;
font-size:2em;
line-height:1.4rem;
color:black;

}





#image{
    margin-top: 1rem;
    margin-left: .6rem;
}

.row{
    margin-top: 1rem;
}

.card{
    background-color: grey;
    
}

table{
    color: white;
    
}





/* phone responsiveness */
@media screen and (max-width:480px) {
    #image{
        margin-top: 0.5rem;
        margin-left: 1rem;
    } 
    .desc-info{
        display: none;
    }
    .card {
     width: 95%;
     margin-left: 0.5rem;
    }

  
}

/* tablet responsiveness */
@media screen and(min-width:500px) and (max-width:720px){
    
    
}

@media screen and (min-width:912px) and (max-width:1024px) {
    .card{
        width: 90%;
        margin-left: 4rem;
    }
}


    
