
<marquee class="GeneratedMarquee" direction="left" scrollamount="5" behavior="alternate">All Prices Are Relative To Size And Materials Used!!!</marquee>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div *ngFor="let product of products">
        <!-- Col Start -->
        <div class="col">
            <div class="card shadow-sm">
                <img id="image" src="{{product.image}}" alt="" width="95%" height="300" />
                <div class="card-body">
                    <table class="table">
                        <tbody >
                            <tr>
                                <td>Product Name:</td>
                                <td id="prodName">{{product.name}}</td>
                            </tr>
                            
                           
                            <tr>
                                <td>Product Price:</td>
                                <td> R {{product.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a [routerLink]="['/product-detail',product._id]" class="btn btn-sm btn-outline-warning" id="btnView">View More Details</a>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Col End -->
    </div>
</div>
