*{
    font-weight: 300;
}

#image{
    margin-top: 1rem;
    margin-left: .6rem;
}

.row{
    margin-top: 1rem;
}

.card{
    background-color: grey;
    
}

table{
    color: white;
    
}





/* phone responsiveness */
@media screen and (max-width:480px) {
    #image{
        margin-top: 0.5rem;
        margin-left: 1rem;
    } 
    .desc-info{
        display: none;
    }

  
}


    
