<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="../../assets/images/logo.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Breezy World PTY</h5>
      <p>CREATIVITY IS THE ENDEVOUR.</p>

      <!-- buttons -->
      <div class="slider-btn">
        <button routerLink="/products" class="btn btn-1">View Our Products</button>
        <a href="https://wa.me/message/JVFYMMA5MAENK1" class="btn btn-2">Get a Qoute</a>
      </div>
    </div>
    </div>

    <div class="carousel-item ">
    <img src="../../assets/images/outside_bench.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Outdoor bench</h5>
      <p>Made for your lawn or garden needs</p>

      <!-- buttons -->
      <div class="slider-btn">
        <button routerLink="/products" class="btn btn-1">View Products</button>
        <a href="https://wa.me/message/JVFYMMA5MAENK1" class="btn btn-2">Get a Qoute</a>
      </div>
    </div>
    </div>
    <div class="carousel-item">
    <img src="../../assets/images/kitchen_board.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Kitchen Wall Unit Set</h5>
      <p>Prices vary according to kitchen size and materials used</p>

      <!-- buttons -->
      <div class="slider-btn">
      <button routerLink="/products" class="btn btn-1">View Our Products</button>
      <a href="https://wa.me/message/JVFYMMA5MAENK1" class="btn btn-2">Get a Qoute</a>
    </div>
    </div>
    </div>
    <div class="carousel-item">
    <img src="../../assets/images/Wall_unit.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Wall Lamination</h5>
      <p>Prices vary according to size.</p>

      <!-- buttons -->
      <div class="slider-btn">
      <button routerLink="/products" class="btn btn-1">View Our Products</button>
      <a href="https://wa.me/message/JVFYMMA5MAENK1" class="btn btn-2">Get a Qoute</a>
    </div>
    </div>
    </div>
    <div class="carousel-item">
    <img src="../../assets/images/see through coffe table.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>See through coffee table</h5>
      <p>A nice and modern coffee table.</p>

      <!-- buttons -->
      <div class="slider-btn">
      <button routerLink="/products" class="btn btn-1">View Our Products</button>
      <a href="https://wa.me/message/JVFYMMA5MAENK1" class="btn btn-2">Get a Qoute</a>
    </div>
    </div>
    </div>

    <div class="carousel-item">
    <img src="../../assets/images/tv_stand.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Glasstop Coffee Table and TV Stand</h5>
      <p>NB : Items Sold Separately !!!.</p>

      <!-- buttons -->
      <div class="slider-btn">
      <button routerLink="/products" class="btn btn-1">View Our Products</button>
      <a href="https://wa.me/message/JVFYMMA5MAENK1" class="btn btn-2">Get a Qoute</a>
    </div>
    </div>
    </div>

    <div class="carousel-item">
    <img src="../../assets/images/VOICE UP..__free-file.png" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Voice UP Campaign</h5>
      <p>A  bullying and mental health campaign buy us.</p>

      <!-- buttons -->
      <div class="slider-btn">
      <button routerLink="/voice-up" class="btn btn-1">Learn More</button>
      <!-- <button routerLink="/charts" class="btn btn-2">Get a Qoute</button> -->
    </div>
    </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>